<!DOCTYPE html>
<html>
<head>
  <title>Mytestapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div align="center">
  <div style="border: 1px solid; padding: 20px; background-color: black;color: white;">
  	<% if !current_user.nil? %>
  	Welcome <%= current_user.user_name.capitalize %> <%= link_to "- Sign out", logout_path, :method => :delete %> -
  	 <%pvalue=Profile.find_by_user_id(current_user.user_id)%>
     <%if !admin.nil? && current_user.user_email==admin.user_email%>
     <strong><%= link_to "Users", users_path%></strong> -
     <%end%>
     <strong><%= link_to "Home", root_path%></strong> -
  	 <strong><%= link_to "Profile", profile_path(pvalue.id)%></strong> -
     <strong><%= link_to "Products", items_path%></strong> -
     <strong><%= link_to "Credit", user_credits_path%></strong>
  	
      <% else %>
         <b><%= link_to "Login", login_path %>	- 
         <%= link_to "Regiser", new_user_path %> </b>
      <% end %>
  </div>
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>

